.container-header {
    width: auto;
    height: auto;

    .form-header {
        width: 100%;
        height: 700px;
        background: linear-gradient(#4B79A1, #283E51);
        display: flex;
        flex-direction: column;
        padding-top: 10px;



        .infor-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .email-loggin {
                padding-right: 10px;
            }
        }

        .navbar-header {
            width: 100%;
            height: 100%;
            padding-top: 20px;

        }


    }


}